[run]
source = src
omit =
    src/tests/*
    src/*_test.py

[report]
show_missing = true
fail_under = 80
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__
